{
  "passPerPreset": true,
  "presets": [
    {
      "plugins": [
        "rewire",
        "transform-runtime",
        "add-module-exports"
      ]
    },
    {
      "passPerPreset": false,
      "presets": [
        ["env", {
            "targets": {
              "node": "4.4"
            }
          }
        ],
        "stage-0"
      ]
    }
  ]
}
